<div class="page-account-list" role="page">
    <div class="page-header">
        <h1><%= polyglot.t('Account Setting') %> : <%= account.name %></h1>
    </div>
    <form role="form" class="js-account-update-form">
        <input name="name" type="hidden" value="<%= account.name %>"/>
        <div class="form-group">
            <label>
                <%= polyglot.t('Account') %> <%= polyglot.t('Owner') %>
            </label>
            <div class="radio">
                <label>
                    <input type="radio" name="owner" id="owner_mine" value="mine"
                            <%= account.owner == 'mine' ? 'checked' : '' %> />
                    <%= polyglot.t('mine') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="owner" id="owner_others" value="others"
                            <%= account.owner == 'others' ? 'checked' : '' %> />
                    <%= polyglot.t('others') %>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>
                <%= polyglot.t('Is in Balance') %>
            </label>
            <div class="radio">
                <label>
                    <input type="radio" name="in_balance" id="in_balance_yes" value="yes"
                            <%= account.in_balance == 'yes' ? 'checked' : '' %> />
                    <%= polyglot.t('yes') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="in_balance" id="in_balance_no" value="no"
                            <%= account.in_balance == 'no' ? 'checked' : '' %>/>
                    <%= polyglot.t('no') %>
                </label>
            </div>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="<%= polyglot.t('Save') %>"/>
    </form>
</div>