<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mytory Moneybook</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!-- Bootstrap -->
    <link href="css/production.min.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="images/icon2.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="nav-wrapper js-navbar" role="navigation">

</nav>
<div class="body col-sm-12">

</div>

<!-- templates -->

<script type="text/template" id="navbar">

    <ul class="nav nav-tabs">
        <li><a href="#weekly"><%= polyglot.t('Weekly') %></a></li>
        <li><a href="#register"><%= polyglot.t('Register') %></a></li>
        <li><a href="#statistics/whole/<%= moment().format('YYYY/MM') %>"><%= polyglot.t('Statistics') %></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">기타 <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#import"><%= polyglot.t('Import') %></a></li>
                <li><a href="#setting"><%= polyglot.t('Setting') %></a></li>
                <li><a href="#category/list"><%= polyglot.t('Category Setting') %></a></li>
                <li><a href="#account/list"><%= polyglot.t('Account Setting') %></a></li>
                <li><a href="#sign-out" class="js-sign-out"><%= polyglot.t('Sign out') %></a></li>
            </ul>
        </li>
    </ul>
</script>

<script type="text/template" id="page-register">
    <div class="page-register" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Register') %></h1>
        </div>
        <div class="alert alert-success js-alert" style="display: none">
            <%= polyglot.t('Success') %>!
        </div>
        <form class="form-horizontal js-register-form" role="form" action="moneybook">
            <div class="form-group">
                <label class="col-sm-2 control-label"><%= polyglot.t('Type') %></label>
                <div class="col-sm-10 js-behavior-type-box">
                    <label class="radio-inline">
                        <input required type="radio" value="withdrawal" name="behavior_type" checked> <%= polyglot.t('Withdrawal') %>
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" value="deposit" name="behavior_type"> <%= polyglot.t('Deposit') %>
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" value="transfer" name="behavior_type"> <%= polyglot.t('Transfer') %>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="memo" class="col-sm-2 control-label"><%= polyglot.t('Memo') %></label>
                <div class="col-sm-10">
                    <input required type="text" class="form-control" id="memo" name="memo">
                </div>
                <div class="js-memo-auto-complete auto-complete-box col-sm-12"></div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 control-label"><%= polyglot.t('Amount') %></label>
                <div class="col-sm-10">
                    <input required type="tel" class="form-control" id="amount" name="amount">
                </div>
                <div class="js-amount-auto-complete auto-complete-box col-sm-12"></div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label"><%= polyglot.t('Date') %></label>
                <div class="col-sm-10">
                    <input required type="date" class="form-control" id="date" name="date" value="<%= date %>">
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label"><%= polyglot.t('Category') %></label>
                <div class="col-sm-10">
                    <input required type="text" class="form-control js-category" id="category" name="category"
                           placeholder="<%= category_placeholder %>">
                    <p class="help-block"><%= polyglot.t('Category helper') %></p>
                </div>
                <div class="js-category-auto-complete auto-complete-box col-sm-12"></div>
            </div>
            <div class="form-group">
                <label for="account" class="col-sm-2 control-label"><%= polyglot.t('Account') %></label>
                <div class="col-sm-10">
                    <input required type="text" class="form-control js-account" id="account" name="account"
                           value="<%= polyglot.t('My Wallet') %>">
                    <p class="help-block"><%= polyglot.t('Account helper') %></p>
                </div>
                <div class="js-account-auto-complete auto-complete-box col-sm-12"></div>
            </div>
            <div class="form-group js-transfer-item transfer-item">
                <label for="account" class="col-sm-2 control-label"><%= polyglot.t('To account') %></label>
                <div class="col-sm-10">
                    <input required disabled type="text" class="form-control js-account" id="to-account" name="to_account"
                           value="<%= polyglot.t('My Wallet') %>">
                    <p class="help-block"><%= polyglot.t('Account helper') %></p>
                </div>
                <div class="js-account-auto-complete auto-complete-box col-sm-12"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><%= polyglot.t('Register') %></button>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="template-memo-auto-complete">
    <% _.forEach(memo_data, function(entry){ %>
        <a href="#" class="col-xs-4 col-lg-2 js-memo-candidate"
                style="padding: 0.5em" data-memo="<%= entry.key %>"
                title="<%= entry.count %>">
            <%= entry.key %>
        </a>
    <% }) %>
</script>

<script type="text/template" id="template-memo-related-auto-complete">
    <% _.forEach(list, function(entry){ %>
        <a href="#" class="col-xs-4 col-lg-2 js-<%=type%>-candidate js-memo-related-candidate"
                style="padding: 0.5em"
                data-target="<%= target %>" data-key="<%= entry.key %>" title="<%= entry.count %>" >
            <%= entry.key %>
        </a>
    <% }) %>
</script>

<script type="text/template" id="page-setting">
    <div class="page-setting" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Setting') %></h1>
        </div>

        <form class="form-horizontal js-form-setting" role="form" action="setting">
            <div class="form-group">
                <label class="col-sm-2 control-label"><%= polyglot.t('Language') %></label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" value="en" name="language" <%= MMB.if_checked(language, 'en') %> > English
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="ko" name="language" <%= MMB.if_checked(language, 'ko') %> > Korean 한국어
                    </label>
                    <p class="help-block"><%= polyglot.t('Language change info') %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-all-data-box" onclick="return false;">
                        <%= polyglot.t('Delete all data.') %>
                    </button>
                </div>
            </div>
        </form>


        <!-- modal box -->
        <div class="modal fade" id="delete-all-data-box">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><%= polyglot.t('Delete all data.') %></h4>
                    </div>
                    <div class="modal-body js-alert-body">
                        <p><%= polyglot.t('All data will be deleted and you cannot restore it.') %></p>
                        <p><%= polyglot.t('Enter this words to below for delete : ') %><strong>Mytory MoneyBook</strong></p>
                        <p><input type="text"class="js-lock-delete-words"/></p>
                        <p class="js-incorrect-words hidden"><strong><%= polyglot.t('Words are wrong.') %></strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="js-close-text">
                                <%= polyglot.t('Cancel') %>
                            </span>
                        </button>
                        <button type="button" class="btn btn-danger js-delete-all-data"><%= polyglot.t('Delete') %></button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</script>

<script type="text/template" id="page-need-config">
    <div class="page-need-config" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Need config') %></h1>
        </div>
        <p class="help-block"><%= polyglot.t('Config file create help') %></p>
    </div>
</script>

<script type="text/template" id="page-dropbox-sign-in">
    <div class="page-dropbox-sign-in" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Dropbox sign in') %></h1>
        </div>
        <p class="help-block"><%= polyglot.t('You need to sign in by dropbox account.') %></p>
        <p>
            <button class="js-dropbox-sign-in btn btn-primary"><%= polyglot.t('Dropbox sign in') %></button>
        </p>
    </div>
</script>

<script type="text/template" id="page-no-network">
    <div class="page-no-network" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('No network') %></h1>
        </div>
        <p class="help-block"><%= polyglot.t('You need to connect network.') %></p>
    </div>
</script>

<script type="text/template" id="page-import">
    <div class="page-import" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Import') %></h1>
        </div>
        <div class="alert alert-info js-msg fade hidden">test</div>
        <form class="form-horizontal js-form-setting" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label"><%= polyglot.t('Excel type') %></label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" value="1" name="excel_type" checked >
                        <%= polyglot.t('Naver Moneybook') %>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><%= polyglot.t('Excel file') %></label>
                <div class="col-sm-10">
                    <div class="xls-drop-area">
                        <%= polyglot.t('Drop xls file to below.') %>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="page-weekly">
    <div class="page-weekly" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Weekly') %></h1>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default js-weekly-change-days-btn" data-days="-7" type="button">-7</button>
                <button class="btn btn-default js-weekly-change-days-btn" data-days="+7" type="button">+7</button>
            </span>
            <input type="date" class="form-control js-weekly-basic-date" value="<%= week_data[0].date %>">
            <span class="input-group-btn">
                <button class="btn btn-default js-weekly-change-date" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->

        <% _.forEach(week_data, function(data){ %>
            <h2 class="weekly-title"><%= data.date %> <span class="weekly-day-of-the-week">(<%= data.day_of_the_week %>)</span></h2>
            <%
            var list = data.list;
            if(data.list.length == 0){
                %><p><%= polyglot.t('No content.') %></p><%
                return true;
            }
            %><table class="table table-striped">
                <colgroup>
                    <col style="width: 65%"/>
                </colgroup>
                <% _.forEach(data.list, function(item_set){ %>
                    <tr data-id="<%= item_set.item.getId() %>">
                        <td>
                            <%= item_set.item.get('memo') %>
                            <small class="weekly-category text-muted">
                                <% if(item_set.item.get('behavior_type') == 'deposit'){ %>
                                    <span class="label label-success"><%= polyglot.t('Deposit') %></span>
                                <% } %>

                                <% if(item_set.item.get('behavior_type') == 'deposit' || item_set.item.get('behavior_type') == 'withdrawal'){ %>
                                    <%= item_set.cat.get('cat1') %>:<%= item_set.cat.get('cat2') %>
                                <% } %>

                                <% if(item_set.item.get('behavior_type') == 'transfer'){ %>
                                    <span class="label label-info"><%= polyglot.t('Transfer') %></span>
                                    <%= item_set.account.get('name') %>
                                    →
                                    <%= item_set.to_account.get('name') %>
                                <% } %>
                            </small>
                        </td>
                        <td class="text-right" data-amount="<%= item_set.item.get('amount') %>">
                            <%= MMB.util.number_format(item_set.item.get('amount')) %>
                        </td>
                    </tr>
                    <% }); %>
                <tr>
                    <td><strong><%= polyglot.t('withdrawal') %> <%= polyglot.t('Sum') %></strong></td>
                    <td class="text-right">
                        <strong><%= MMB.util.number_format(data.sum) %></strong>
                    </td>
                </tr>
            </table><%
        }); %>
    </div>
</script>

<script type="text/template" id="page-category-list-level1">
    <div class="page-category-list" role="page">
        <div class="page-header">
            <h1><%= polyglot.t('Category Setting') %></h1>
        </div>

        <h2><%= polyglot.t('Withdrawal') %></h2>
        <div class="list-group">
            <a class="list-group-item" href="#category/add/withdrawal">
                <%=polyglot.t('Add Category')%>
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
            <% _.forEach(cats.withdrawal, function(entry){ %>
                <a class="list-group-item" href="#category/list/withdrawal/<%=entry%>">
                    <%= entry %>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            <% }) %>
        </div>

        <h2><%= polyglot.t('Deposit') %></h2>
        <div class="list-group">
            <a class="list-group-item" href="#category/add/deposit">
                <%=polyglot.t('Add Category')%>
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
            <% _.forEach(cats.deposit, function(entry){ %>
                <a class="list-group-item" href="#category/list/deposit/<%= entry %>">
                    <%= entry %>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            <% }) %>
        </div>
    </div>
</script>

<script type="text/template" id="page-category-list-level2">
    <div class="page-category-list" role="page">
        <div class="page-header">
            <h1>
                <%= parent %>
                <small><a class="glyphicon glyphicon-pencil" href="#category/update/<%= behavior_type %>/<%= parent %>"></a></small>
            </h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="#category/list"><%= polyglot.t('Category Setting') %></a></li>
            <li><%= parent %></li>
        </ol>

        <div class="list-group">
            <a class="list-group-item" href="#category/add/<%= behavior_type %>/<%= parent %>">
                <%=polyglot.t('Add Category')%>
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
            <% _.forEach(cats, function(entry){ %>
            <a class="list-group-item" href="#category/update/<%= behavior_type %>/<%= parent %>:<%= entry %>">
                <%= entry %>
                <span class="glyphicon glyphicon-pencil pull-right"></span>
            </a>
            <% }) %>
        </div>
    </div>
</script>

<script type="text/template" id="page-category-add">
    <div class="page-category-add">
        <div class="page-header">
            <h1>
                <%= title %>
            </h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="#category/list"><%= polyglot.t('Category Setting') %></a></li>
            <li><%= title %></li>
        </ol>

        <form role="form" class="form-horizontal js-category-add-form">
            <input name="cat_level" type="hidden" value="<%= cat_level %>"/>
            <input name="behavior_type" type="hidden" value="<%= behavior_type %>"/>
            <% if(parent) { %>
                <input name="parent" type="hidden" value="<%= parent %>"/>
            <% } %>
            <div class="form-group">
                <label class="control-label col-xs-2" for="cat_name">
                    <%= polyglot.t('Name') %>
                </label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" name="cat_name" id="cat_name"/>
                </div>
            </div>
            <div class="alert alert-warning alert-dismissable js-alert" style="display: none">
                <strong><%= polyglot.t('Warning') %>!</strong>
                <%= polyglot.t("Category is already exist.") %>
            </div>
            <p>
                <input class="btn btn-primary btn-block" type="submit" value="<%= polyglot.t('Add') %>"/>
            </p>
        </form>
    </div>
</script>

<script type="text/template" id="page-category1-update">
    <div class="page-category1-update">
        <div class="page-header">
            <h1>
                <%= category.get('cat1') %> <%= polyglot.t('update') %>
            </h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="#category/list"><%= polyglot.t('Category Setting') %></a></li>
            <li>
                <a href="#category/list/<%=category.get('behavior_type')%>/<%=category.get('cat1')%>">
                    <%= category.get('cat1') %>
                </a>
                <%= polyglot.t('update') %>
            </li>
        </ol>


        <form role="form" class="form-horizontal js-category-update-form">
            <input id="old_name" name="cat1_old_name" type="hidden" value="<%=category.get('cat1')%>"/>
            <div class="form-group">
                <label class="control-label col-xs-2" for="cat1"><%=polyglot.t('Name')%></label>
                <div class="col-xs-10">
                    <input class="form-control col-xs-10" type="text" name="cat1" id="cat1" value="<%=category.get('cat1')%>"/>
                </div>
            </div>
            <p>
                <input class="btn btn-block btn-primary" type="submit" value="<%= polyglot.t('Save') %>"/>
            </p>
        </form>

        <a class="btn btn-danger pull-right js-category-delete" href="#"
                data-cat1="<%= category.get('cat1') %>"
                data-cat2=""
                data-behavior-type="<%= category.get('behavior_type') %>">
            <span class="glyphicon glyphicon-remove"></span>
            '<%= category.get('cat1') %>' <%=polyglot.t('Category')%> <%=polyglot.t('Delete')%>
        </a>
    </div>
</script>
<script type="text/template" id="page-category2-update">
    <div class="page-category2-update">
        <div class="page-header">
            <h1>
                <%= category.get('cat2') %> <%= polyglot.t('update') %>
            </h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="#category/list"><%= polyglot.t('Category Setting') %></a></li>
            <li>
                <a href="#category/list/<%=category.get('behavior_type')%>/<%=category.get('cat1')%>">
                    <%= category.get('cat1') %>
                </a>
            </li>
            <li><%= category.get('cat2') %> <%= polyglot.t('update') %></li>
        </ol>

        <form role="form" class="form-horizontal js-category-update-form">
            <input name="id" type="hidden" value="<%= category.getId() %>"/>
            <input id="cat1" name="cat1" type="hidden" value="<%= category.get('cat1') %>"/>
            <div class="form-group">
                <label class="control-label col-xs-2" for="cat2"><%=polyglot.t('Name')%></label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" name="cat2" id="cat2" value="<%= category.get('cat2') %>"/>
                </div>
            </div>
            <p>
                <input class="btn btn-block btn-primary" type="submit" value="<%= polyglot.t('Save') %>"/>
            </p>
        </form>

        <a class="btn btn-danger pull-right js-category-delete" href="#"
                data-cat1="<%= category.get('cat1') %>"
                data-cat2="<%= category.get('cat2') %>"
                data-behavior-type="<%= category.get('behavior_type') %>">
            <span class="glyphicon glyphicon-remove"></span>
            '<%= category.get('cat2') %>' <%=polyglot.t('Category')%> <%=polyglot.t('Delete')%>
        </a>
    </div>
</script>

<script type="text/template" id="page-statistics">
    <div class="page-statistics" role="page">
        <div class="page-header">
            <h1>
                <%= polyglot.t('Statistics') %>
                <small>
                    <%= year %>-<%= month %>
                </small>
            </h1>
        </div>
        <ul class="nav nav-pills">
            <li>
                <a href="<%= prev_month_link %>" title="prev month">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </li>
            <li class="pull-right">
                <a href="<%= next_month_link %>" title="next month">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </li>
        </ul>

        <table class="table">
            <thead>
                <tr class="<%= balance_class %> text-<%= balance_class %>">
                    <th><%=polyglot.t('Balance')%></th>
                    <th class="text-right"><%= MMB.util.number_format(balance) %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><%=polyglot.t('Withdrawal')%></th>
                    <td class="text-right"><%= MMB.util.number_format(withdrawal) %></td>
                <tr>
                <tr>
                    <th><%=polyglot.t('Deposit')%></th>
                    <td class="text-right"><%= MMB.util.number_format(deposit) %></td>
                </tr>

            </tbody>
        </table>
    </div>
</script>

<script src="config.js"></script>
<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
<script src="js/production.js"></script>
<script src="js/xls.js"></script>

</body>
</html>