[role=page] {
    display: none;
}
[role=page]:first-child {
    display: block;
}
.xls-drop-area {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    border: 1px solid #ddd;
    color: #999;
    font-size: 2em;
}
.dragging {
    color: #000;
    border-color: #000;
}
h2, .weekly-title {
    font-size: 1.2em;
}
.weekly-category {
    display: block;
}
.weekly-day-of-the-week {
    font-size: 0.9em;
    color: #999;
}
.transfer-item {
    display: none;
}
input[type=date] {
    -webkit-appearance: none;
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav-wrapper {
    padding-top: 0.5em;
}