<div class="page-account-list" role="page">
    <div class="page-header">
        <h1><%= polyglot.t('Account Setting') %><%= account.get('name') ? ' : ' +  account.get('name') : ''%></h1>
    </div>
    <form role="form" class="js-account-update-form">
        <input name="id" type="hidden" value="<%= account.getId() %>"/>
        <div class="form-group">
            <label for="name"><%= polyglot.t('Account') %> <%= polyglot.t('Name') %></label>
            <input required class="form-control" type="text" name="name" id="name" value="<%= account.get('name') %>"/>
        </div>
        <div class="form-group">
            <label>
                <%= polyglot.t('Account') %> <%= polyglot.t('Owner') %>
            </label>
            <div class="radio">
                <label>
                    <input required type="radio" name="owner" id="owner_mine" value="mine"
                            <%= account.get('owner') == 'mine' ? 'checked' : '' %> />
                    <%= polyglot.t('mine') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input required type="radio" name="owner" id="owner_others" value="others"
                            <%= account.get('owner') == 'others' ? 'checked' : '' %> />
                    <%= polyglot.t('others') %>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>
                <%= polyglot.t('Is in Balance') %>
            </label>
            <div class="radio">
                <label>
                    <input required type="radio" name="in_balance" id="in_balance_yes" value="yes"
                            <%= account.get('in_balance') == 'yes' ? 'checked' : '' %> />
                    <%= polyglot.t('yes') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input required type="radio" name="in_balance" id="in_balance_no" value="no"
                            <%= account.get('in_balance') == 'no' ? 'checked' : '' %>/>
                    <%= polyglot.t('no') %>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>
                <%= polyglot.t('Whether savings') %>
            </label>
            <div class="radio">
                <label>
                    <input required type="radio" name="whether_savings" id="whether_savings_yes" value="yes"
                    <%= account.get('whether_savings') == 'yes' ? 'checked' : '' %> />
                    <%= polyglot.t('Savings') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input required type="radio" name="whether_savings" id="whether_savings_no" value="no"
                    <%= account.get('whether_savings') == 'no' ? 'checked' : '' %>/>
                    <%= polyglot.t('Not savings') %>
                </label>
            </div>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="<%= polyglot.t('Save') %>"/>
    </form>
</div>